* {
    margin : 0;
    padding: 0;
}

h1 {
    font-size  : 42px;
    font-weight: 500;
    margin     : 0;
    color      : #fff;
    position   : relative;
}

h2 {
    font-size  : 27px;
    font-weight: 500;
    margin     : 0;
}

h3 {
    font-size  : 42px;
    font-weight: 500;
    margin     : 0;
}

html,
body {
    height     : 100%;
    font-family: "Montserrat", sans-serif;
    color      : #231f20;
}

/* ------------------------------------- */
.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.wrapper {
    display       : flex;
    flex-direction: column;
    height        : 100%;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

header .dropdown-menu {
    padding: 18px 20px;
    width: 200px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, .2);
    border: none !important;
    border-radius: 0;
    left: 50%;
    transform: translate(-50%, 10px);
}

header .dropdown-menu::before {
    content     : '';
    position    : absolute;
    top         : 0px;
    left        : 50%;
    width       : 0;
    height      : 0;
    transform: translate(-50%, -100%);
    border-left : 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

header .dropdown-menu::after {
    content : '';
    position : absolute;
    top : 0px;
    left : 50%;
    height: 20px;
    width: 100%;
    transform: translate(-50%, -100%);
}

header .dropdown-menu a {
    display: flex;
    flex-wrap: wrap;
    font-size  : 14px;
    line-height: 1.35;
    font-weight: 600;
    text-wrap: wrap;
    border: none !important;
}

.dropdown-item {
    padding: 0 10px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #fff;
    color: #f37c36;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

.border-bottom-info {
    border-bottom: 1px solid #000;
}

.link {
    position           : relative;
    color              : #f37c36;
    text-decoration    : none;
    line-height        : normal;
    -webkit-user-select: none;
    -moz-user-select   : none;
    user-select        : none;
    cursor             : pointer;
    font-size          : 20px;
    font-weight        : 500;
}

.link:hover,
.link:focus {
    color  : #f37c36;
    opacity: .5;
}

.btn-davydovotyres-primary {
    display      : inline-block;
    padding      : 4px 15px;
    background   : #f37c36;
    color        : #fff;
    border-radius: 5px;
    font-size    : 24px;
}

/* ----------------------------------------- */

/* header */
.header {
    display                : flex;
    align-items            : center;
    position               : fixed;
    height                 : 80px;
    background-color       : rgba(255, 255, 255, 1);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter        : blur(3px);
    z-index                : 3;
    box-shadow             : 0 4px 4px rgba(0, 0, 0, .1);
}

.item-logo img {
    width: 152px;
}

.nav-list {
    flex-wrap    : nowrap;
    text-wrap    : nowrap;
    margin-bottom: 0;
    list-style   : none;
    padding      : 0;
}

.nav-link {
    color      : #000;
    font-size  : 16px;
    transition : all 0.3s;
    font-weight: 500;
}

.nav-list .nav-link {
    padding: 0 10px;
}

.nav-link:hover,
.nav-link:focus {
    color: #f37c36;
}

.container-video {
    overflow   : hidden;
    position   : relative;
    max-height : 100vh;
    padding-top: 80px;
}

video {
    width: 100%;
}

.container-video__filter {
    position  : absolute;
    width     : 100%;
    height    : 100%;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}

.container-video__arrow {
    position       : absolute;
    display        : flex;
    align-items    : center;
    justify-content: center;
    bottom         : 20px;
    left           : 50%;
    transform      : translate(-50%, -50%);
    cursor         : pointer;
    z-index        : 2;
}

.container-video__arrow svg {
    animation: bounce 1s infinite;
}

.container-video__logo {
    position       : absolute;
    display        : flex;
    align-items    : center;
    justify-content: center;
    top            : 50%;
    left           : 50%;
    transform      : translate(-50%, -50%);
}

.container-video__logo img {
    padding  : 0 30px;
    max-width: 500px;
    width    : 100%;
    height   : auto;
}

.pt-header {
    padding-top: 80px;
}

.about img {
    object-fit: cover;
}

.title__container {
    display        : flex;
    justify-content: center;
    align-items    : center;
    position       : relative;
    max-height     : 120px;
    background     : #000;
    overflow       : hidden;

}

.title__container img {
    max-height: 120px;
    object-fit: cover;
    opacity   : .8;
    filter    : blur(0.8px);
}

.title__container h1 {
    position   : absolute;
    z-index    : 2;
    line-height: 1.23;
    font-weight: 600;
}

.subtitle__container {
    position   : relative;
    padding-top: 15px;
}

.subtitle__container::before {
    content   : '';
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 40%;
    height    : 6px;
    background: #e6702f;
}

.text-subtitle {
    font-size  : 18px;
    font-weight: 400;
    line-height: 1.55;
}

.text {
    font-size : 18px;
    margin-top: 30px;
}

.text-subtitle span {
    font-weight: bold;
}

.enterprise-team {
    font-size  : 17px;
    line-height: 1.35;
    font-weight: 600;
}

/* footer */
footer {
    margin-top      : 50px;
    padding         : 60px 0;
    display         : flex;
    align-items     : center;
    font-size       : 14px;
    background-color: #231f20;
    color           : #fff;
}

footer .nav-link {
    font-size: 14px
}

footer span {
    font-weight: 500;
    font-size  : 14px;
    opacity    : .6;
    text-align : center;
    padding-top: 48px;
}

footer .nav-item a {
    color: #fff;
    transition: color 0.3s ease-in-out,
        opacity 0.3s ease-in-out;
}

footer .nav-item a:hover,
footer .nav-item a:focus {
    color: #f37c36;
}

/* swiper */
.swiper-button-prev,
.swiper-button-next {
    display        : flex;
    justify-content: center;
    align-items    : center;
    background     : #fff;
    width          : 40px;
    height         : 40px;
    padding        : 10px;
    border-radius  : 50%;
    margin         : 0 10px;
    margin-top     : -10px;
    color          : #f37c36;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 23px;
}

.swiper-button-prev::after {
    margin-right: 4px;
}

.swiper-button-next::after {
    margin-left: 4px;
}

/* swiper */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

/* @media */
@media (min-width: 1524px) {
    .container {
        max-width: 1440px;
        padding  : 0;
    }
}

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.99px) {
    .item-logo {
        margin-right: 26px;
    }

    .container-icon-header {
        display: none;
    }
}

/* // `xl` applies to medium devices (tablets, less than 1200px) */
@media (max-width: 1199.99px) {
    h3 {
        font-size: 38px;
    }

    .content {
        height     : 975px;
        align-items: flex-end;
    }

    /* burger */
    body.lock {
        overflow: hidden;
    }

    .burger__menu {
        margin-left: 30px;
    }

    .burger__icon {
        display : block;
        width   : 30px;
        height  : 18px;
        position: relative;
        z-index : 5;
        cursor  : pointer;
    }

    .burger__icon span:first-child {
        top: 0;
    }

    .burger__icon span {
        position          : absolute;
        top               : calc(50% - 1px);
        left              : 0;
        width             : 100%;
        height            : 2px;
        -webkit-transition: all 0.2s;
        transition        : all 0.2s;
        background-color  : #000000;
    }

    .burger__icon span:last-child {
        top   : auto;
        bottom: 0;
    }

    .burger__icon.active span:first-child {
        -webkit-transform: rotate(-45deg);
        transform        : rotate(-45deg);
        top              : calc(50% - 1px);
    }

    .burger__icon.active span {
        transform: scale(0);
    }

    .burger__icon.active span:last-child {
        transform: rotate(45deg);
        bottom   : calc(50% - 1px);
    }

    .burger__body {
        position        : absolute;
        top             : 0;
        left            : -100%;
        height          : 100vh;
        width           : 100%;
        background-color: #2d2d2de5;
        transition      : all 0.2s;
    }

    .burger__body .nav-list-dropdown {
        display       : flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .burger__body .nav-item-dropdown {
        display       : flex;
        width         : 100%;
        padding-top   : 6px;
        padding-bottom: 6px;
        border-bottom : 1px solid #ccc;
    }

    .burger__body .nav-link {
        display    : flex;
        align-items: center;
        width      : 100%;
        padding    : .5rem 1rem;
        text-align: center;
        color     : #000;
        font-size: 18px;
        text-align: start;
    }

    .btn-burger-dropdown {
        display        : flex;
        align-items    : center;
        justify-content: center;
        width          : 50px;
        border-left    : 1px solid #ccc;
    }

    .burger__body.active {
        left: 0;
    }

    .burger__list {
        position        : relative;
        padding         : 15px;
        height          : 100%;
        width           : 85%;
        background-color: #fff;
        overflow        : auto;
        box-shadow      : inset -10px 0px 20px 0px rgb(0 0 0 / 48%);
        overflow-x      : hidden;
    }

    /* burger */
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.99px) {
    h2 {
        margin-top: 40px;
    }

    h3 {
        font-size: 30px;
    }

    .container-video__logo img {
        max-width: 400px;
    }

    video {
        width: auto;
    }

    .text {
        font-size  : 18px;
        font-weight: 400;
    }

    .text-subtitle {
        font-size: 14px;
    }
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.99px) {
    .header {
        height : auto;
        padding: 5px 0;
    }

    .container-video__arrow {
        bottom: -25px;
    }

    .about-us img {
        height    : auto;
        object-fit: cover;
    }

    .container-video {
        padding-top: 60px;
    }

    footer {
        font-size: 21px;
    }
}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {

    h2 {
        margin-top: 30px;
    }

    .text-subtitle {
        margin-top: 15px;
    }

}